[Desktop Entry]
Name=Edit Bookmarks
GenericName=Edit Bookmarks
Type=Application
Exec=keditbookmarks
Icon=bookmark-edit
StartupNotify=true
NoDisplay=false
Terminal=false
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
Path=
Comment=