[Desktop Entry]
Name=FileZilla
GenericName=FileZilla
Type=Application
Exec=/usr/bin/filezilla
Icon=filezilla
StartupNotify=true
NoDisplay=false
Terminal=false
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
Path=
Comment=