[Desktop Entry]
Name=LibreOffice Draw
GenericName=LibreOffice Draw
Type=Application
Exec='libreoffice --draw'
Icon=libreoffice-draw
StartupNotify=true
NoDisplay=false
Terminal=false
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
Path=
Comment=
