[Desktop Entry]
Name=Microsoft Edge (Personal)
GenericName=Microsoft Edge (Personal)
Type=Application
Exec=/bin/microsoft-edge-stable --profile-directory="Default" --class=edge-personal %U
Icon=microsoft-edge-logo-personal
StartupWMClass=edge-personal
StartupNotify=true
NoDisplay=false
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Path=
Comment=