[Desktop Entry]
Name=Sweeper
GenericName=Sweeper
Type=Application
Exec=sweeper
Icon=sweeper
StartupNotify=true
NoDisplay=false
Terminal=false
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
Path=
Comment=