[Desktop Entry]
Name=Visual Studio Code
GenericName=Visual Studio Code
Type=Application
Exec=/usr/bin/code
Icon=/usr/share/icons/hicolor/64x64/apps/visual-studio-code.png
StartupWMClass=Code
StartupNotify=true
NoDisplay=false
Terminal=false
TerminalOptions=
X-KDE-SubstituteUID=false
X-KDE-Username=
Path=
Comment=