[Desktop Entry]
Version=1.0
Type=Application
Name=GPaste Clipboard Manager
Comment=Launch the GPaste clipboard manager
Exec=/usr/libexec/gpaste/gpaste-ui
Icon=edit-paste
Terminal=false
Categories=Utility;GTK;
StartupNotify=true
