[Desktop Entry]
Name=Settings
Comment=Open Settings App
Exec=gnome-control-center
Icon=applications-system
Terminal=false
Type=Application
Categories=Settings;
