[Desktop Entry]
Name=GIMP
Type=Application
Exec=gimp
Icon=gimp
Terminal=false
Categories=Media;
StartupNotify=true
NoDisplay=false
StartupWMClass=GIMP
Path=