[Desktop Entry]
Name=lnav
Type=Application
Exec=lnav %f
Icon=lnav
Terminal=true
Categories=Development;
StartupNotify=false
NoDisplay=false
StartupWMClass=lnav