[Desktop Entry]
Name=ScreenRuler
Type=Application
Exec=screenruler
Icon=/usr/share/screenruler/screenruler-icon-64x64.png
Terminal=false
Categories=Utilities;
StartupNotify=true
NoDisplay=false
StartupWMClass=screenruler
