[Desktop Entry]
Name=Shotcut
Type=Application
Exec=shotcut
Icon=org.shotcut.Shotcut
Terminal=false
Categories=Media;
StartupNotify=true
NoDisplay=false
StartupWMClass=org.shotcut.Shotcut
Path=
