[Desktop Entry]
Name=Tmux
Type=Application
Exec=tmux
Icon=terminal
Terminal=true
Categories=Development;
StartupNotify=false
NoDisplay=false
StartupWMClass=tmux