[Desktop Entry]
Name=Dolphin
Comment=Access and organize files
Exec=dolphin
Icon=system-file-manager
Terminal=false
Type=Application
Categories=Utility;Core;FileManager;
MimeType=inode/directory;
Actions=
Keywords=folder;manager;explore;filesystem;
StartupNotify=true
